# Sensitive credentials & secrets
config.yaml
config.yml
config.local.yaml
.env
.env.*
*.env
*.secret
*.pem
*.key
*.local.json
credentials.json


# Astro build outputs
dist/
node_modules/
.astro/
.vscode/
artifact/
